<th class="text-center" ts-criteria="rank|parseInt">Rank</th>
<th class="text-center" ts-criteria="name|lowercase">Name</th>
<th class="text-center" ts-criteria="captainName|lowercase">Captain</th>
<th class="text-center" ts-criteria="rating|parseInt" ts-default="descending">Rating</th>
<th class="text-center" ts-criteria="seasonGames|parseInt">Season Games</th>
<th class="text-center" ts-criteria="seasonWins|parseInt">Season Wins</th>
<th class="text-center" ts-criteria="weekGames|parseInt">Week Games</th>
<th class="text-center" ts-criteria="weekWins|parseInt">Week Wins</th>	
