<td><strong>{{ team.rank }}</strong></td>
<td><strong>{{ team.name }}</strong></td>
<td><strong>{{ team.captainName }}</strong></td>
<td><strong>{{ team.rating }}</strong></td>
<td><strong>{{ team.seasonGames }}</strong></td>
<td><strong>{{ team.seasonWins }}</strong> &nbsp; ({{ team.seasonGames == 0 ? 0 : team.seasonWins / team.seasonGames * 100 | number:0 }}%)</td>
<td><strong>{{ team.weekGames }}</strong></td>
<td><strong>{{ team.weekWins }}</strong> &nbsp; ({{ team.weekGames == 0 ? 0 : team.weekWins / team.weekGames * 100 | number:0 }}%)</td>